<a href="https://colab.research.google.com/github/monicasjsu/Machine_Learning/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes Assignment
**Team SheCodes**
1. Monica Dommaraju
2. Asha Balshiram Aher
3. Swati Ganesh Narkhede
4. Sri Sruthi Chilukuri

#  Data Story
The Goal of this assignement is to implement Naive Bayes classifier on the dataset and try to learn what is classification telling about the data(which has been covered in conclusion section).
The dataset that we are working on consists of a subset of employee details such as Postion, Group, Salary, Satisfaction Level, Gender etc. and the class label to identify if the employee left the organization or still with the organization. This dataset consists of 1470 rows and 35 features. The ultimate goal of this project is to predict the employee attrition given the employee details. For this assignment we are going to analyze the few features and apply Naive Bayes Classifier.

#Data Set and Data Selection
Dataset:

We found the following dataset from Kaggle postled by IBM HR Analytics department.

https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset https://drive.google.com/open?id=1_DsgvxZcBkLEhy7rZVbOqLTbxt7S28hQHCTiPRc3eio

**Data Selection:**

The Dataset that we have chosen don't have any missing values. So we tried to search for other related datasets that are related to employee attrition, but all the datasets that we found don't have any missing values. So,we have chosen the IBM dataset as we are interested in finding insights about the attrition rate of Technology heavy company such as IBM.

#Applying Naive Baye's Classifier

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

**Loading the dataset into pandas dataframe and describing the data to draw few insights from it**.

In [ ]:
df = pd.read_csv("/content/drive/Shared drives/SheCodes/HR_Employee_Attrition.csv",sep=',')

In [ ]:
df.describe()

               Age    DailyRate  ...  YearsSinceLastPromotion  YearsWithCurrManager
count  1470.000000  1470.000000  ...              1470.000000           1470.000000
mean     36.923810   802.485714  ...                 2.187755              4.123129
std       9.135373   403.509100  ...                 3.222430              3.568136
min      18.000000   102.000000  ...                 0.000000              0.000000
25%      30.000000   465.000000  ...                 0.000000              2.000000
50%      36.000000   802.000000  ...                 1.000000              3.000000
75%      43.000000  1157.000000  ...                 3.000000              7.000000
max      60.000000  1499.000000  ...                15.000000             17.000000

[8 rows x 26 columns]

**We check if there are any singular values in any of our features of our dataset; remove those columns as they don't contribute to our model building.**

In [ ]:
singular_values =[]
for i in df.columns:
  if len(df[i].unique())==1:
        print(i)
        singular_values.append(i)

EmployeeCount
Over18
StandardHours

**Dropping the colums: EmployeeCount, Over18, StandardHours**

In [ ]:
df.drop(singular_values, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(24), object(8)
memory usage: 367.6+ KB

***As we can see above, there are certain features in the dataset that are of type"object"; hence we change it to categorical type so as to later change them into interger type using cat.codes***

In [ ]:
for col in ['BusinessTravel', 'Gender', 'JobRole', 'OverTime', 'EducationField', 'Department', 'MaritalStatus','Attrition']:
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.codes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null int8
BusinessTravel              1470 non-null int8
DailyRate                   1470 non-null int64
Department                  1470 non-null int8
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null int8
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null int8
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null int8
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null int8
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null int8
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(24), int8(8)
memory usage: 287.2 KB

**Splitting the data to 70% of training data and 30% of test data to train our model**

In [ ]:

Y = df.Attrition
X = df.drop(['Attrition'], axis=1)

In [ ]:
print(X)

      Age  BusinessTravel  ...  YearsSinceLastPromotion  YearsWithCurrManager
0      41               2  ...                        0                     5
1      49               1  ...                        1                     7
2      37               2  ...                        0                     0
3      33               1  ...                        3                     0
4      27               2  ...                        2                     2
...   ...             ...  ...                      ...                   ...
1465   36               1  ...                        0                     3
1466   39               2  ...                        1                     7
1467   27               2  ...                        0                     3
1468   49               1  ...                        0                     8
1469   34               2  ...                        1                     2

[1470 rows x 31 columns]

In [ ]:
print(Y)

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int8

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

**Implementing Naive Bayes classifier for performing the Binary classification**

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
model = GaussianNB()

model.fit(x_train, y_train)
y_pred = model.predict(x_test)

print(accuracy_score(y_test,y_pred)*100)

83.6734693877551

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[330  48]
 [ 24  39]]

In [ ]:
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 0.4482758620689655
Recall: 0.6190476190476191

#Conclusion

The accuracy of our model is 79% nearly; However, other models like Decision Tree and Logistic regression have clearly performed better than Naive Bayes on our data with higher accuracy and precision values.

**Understanding Confusion Matrix**

Clearly, the false postives and false negatives are in together(71+28) are 99 which means that our model has incorrectly classified 99 instances. False positives mean that "No attrition" has been classified as "Attrition" and False Negative means that "Attrition" has been classified as "No Attrition" instances. 

We have implemented Naive Bayes Classification algorithm by choosing our target label or Y attribute as "Attrition". 

This classification algorithm is a probabilistic algorithm based on the popular Bayes theorem.
However, this algorithm works most efficiently when the predictors or the featutes of our dataset are completely independent of each other. In a realistic scenario, we don't have a confirmation of how independent of each other are the features in our data set.